.accountmanagement-view .toggle
{
	position:  absolute;
	top:       .5em;
	right:     .5em;
}
.accountmanagement-view .notification
{
	position:  absolute;
	top:       1.4em;
	right:     1.4em;
}
.accountmanagement-view .modal-footer button
{
	margin: 0 auto;
}
