/* .container
{
	height: calc(100vh - 122px);
	min-width:   100%;
	max-width:   100%;
	margin:  0;
	padding: 0;
}
.carousel-control-prev .leftControl > i,
.carousel-control-next .rightControl > i
{
	color: #000;
}
.carousel-control-prev:hover,
.carousel-control-next:hover
{
	background-image: none;
}

.carousel-item .card
{
	min-height: calc(100vh - 122px);
	margin: 20px 10%;
} */
/* .container
{
	max-width: 800px;
}







.card
{
	margin: 20px 0;
}




.sidebar
{
	z-index:          1000;
	position:         fixed;
	left:             0;
	top:              50%;
	transform:        translate(-90%, -50%);
	transition:       transform .2s;
}

.sidebar:hover
{
	transform:        translate(0, -50%);
}

.sidebar .btn
{
	margin:           10px;
	padding:          10px;
}

 */
