.main-view
{
	background-color: #ffffff;
	text-align:       center;
	min-height:       100%;
	min-width:        100%;
}

.main-view .container
{
	max-width: 60vw;
}

.main-view .card
{
	margin: 20px;
}
